.App {
    height: 100vh;
    width: 100vw;
    background-color: #8F8D8F;
    justify-items: center;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 6fr 6fr;
    grid-auto-flow: row;
}