* {
    margin: 0;
    padding: 0;
}

.App {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10vh 90vh;
    background-color: #D4D4D4;
    justify-items: center;
    align-items: center;
}

.app-header {
    width: 100%;
    height: 100%;
    max-height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #424242;
    color: #D4D4D4;
}

.header-button {
    height: 80%;
    width: 18%;
    background-color: #424242;
    font-size: 2em;
    border-color: #D4D4D4;
    border-radius: 15px;
    color: #D4D4D4;
}

.tab-layout {
    align-self: flex-start;
    justify-self: flex-start;
    width: 100%;
    height: 100%;
}

.tab-list {
    padding-left: 0;
    background-color: #424242;
    color: #D4D4D4;
}

.tab-list-item {
    display: inline-block;
    list-style: none;
    margin-bottom: -1px;
    padding: 0.5rem 1rem;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    cursor: pointer;
}

.tab-list-active {
    background-color: #D4D4D4;
    color: black;
    border: solid #D4D4D4;
    font-weight: 600;
    border-width: 1px 1px 0 1px;
}

.tab-layout-spacer {
    height: 2.5px;
    width: 100%;
    background-color: #D4D4D4;
    border: none;
}

.tab-content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.main-content {
    width: 100%;
    height: 100%;
    display: grid;
    overflow: auto;
    grid-template-rows: 55vh;
    grid-auto-flow: row;
    grid-auto-rows: 55vh;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width: 1500px) {

    .main-content {
        grid-template-columns: 1fr 1fr;
    }
}