.chart-container {
    display: flex;
    height: 90%;
    min-height: 300px;
    width: 90%;
    min-width: 500px;
    background-color: #BAB8BA;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}