.tooltip {
    position: absolute;
    font-size: 0.8em;
    background-color: #424242;
    color: #D4D4D4;
    padding: 5px;
    border-radius: 5px;
    opacity: 0;
}

.class-select {
    align-self: flex-start;
}

.select-container {
    display: flex;
    padding: 10px;
    flex-direction: column;
    align-self: flex-start;
    justify-self: left;
}