.pie-chart {
    height: 90%;
    width: 80%;
    background-color: #BAB8BA;
    border-radius: 10px;
}

.tooltip {
    position: absolute;
    font-size: 0.8em;
    background-color: #424242;
    color: #D4D4D4;
    padding: 5px;
    border-radius: 5px;
}